/* Tab container */
.obsitica-tab-container {
    display: flex;
    border-bottom: 1px solid var(--background-modifier-border);
  }
  
  /* Individual tabs */
  .obsitica-tab {
    padding: 8px;
    cursor: pointer;
    user-select: none;
  }
  
  .obsitica-tab:hover {
    background-color: var(--background-modifier-hover);
  }
  
  /* Content area */
  .obsitica-content-area {
    padding: 10px;
  }
  .obsitica-steps-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.obsitica-steps-table th,
.obsitica-steps-table td {
    border: 1px solid var(--background-modifier-border);
    padding: 8px;
    text-align: left;
}

.obsitica-steps-table th {
    background-color: var(--background-modifier-accent);
}
